* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500&display=swap');
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(216, 20%, 94%);
  
}